
.debuglog{
	position: fixed;
	left: 10px;
	top:50px;
	width:400px;
	height: 200px;
	padding: 5px;
	overflow-y: scroll;
	background-color: gray;
	border: 8px solid white; 
	color:white;
	z-index: 10;
	font-size: 14pt;
}
/*//////////////////////////////////////////////*/

html,body{
	min-width: 100%;
	font-family: 'Raleway', sans-serif;	
min-width: 450px;
}
.back{
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;

	position: fixed;
	
	left: 0%;
	right:100%;
	top:0;
	bottom:100%;
	width: 100%;
	height: 100%;
	z-index: 0;
	filter: blur(3px);
}
.pan.left, .pan.back{	
	background-color: rgba(255,255,255,0.2);

	position: fixed;
	
	left: 0%;
	
	top:0;
	

	width: 50%;
	height: 100%;

	filter: blur(10px);
}

.pan.right{	
	background-color: rgba(255,255,255,0.9);
	

	color:black;
	position: fixed;
	
	right: 0%;
	
	top:0;
	

	width: 50%;
	height: 100%;

	transition: 1s;

	min-width: 450px;
}
.pan.center{
	background-color: rgba(255,255,255,0.9);
	color:black;

	position: fixed;
	
	left: 50%;	
	top:0;	
	transform: translate(-50%,0%);

	/*width: 50%;*/
	height: 100%;
}
.pan.right:hover{
	background-color: rgba(255,255,255,0.8);
	transition: .5s;
}

.panel {
	margin-bottom: 0px;
}
.page{
	//height: 100%;
}
.page .row:first-child{
	height: 50%;
	max-height: 500px;
	overflow-y: hidden;
	word-wrap: break-word;

	position: relative;
}
.page #profile-head small{
	color:darkgray;
	font-weight: 0;
}
.page .row:first-child > *{
	height: 100%;


}

.profile-info{
	overflow-y: scroll;
	max-height: 85%;
}
.profile-btns{
	position: absolute;right:30px;
	font-size: 18pt;
	display: inline-block;
}
/*//////////////////////////////////////////*/
nav.nav{
	font-size: 22pt;
	padding-left: 25px;
}
nav.nav *{	
	margin:0; 

}
nav.nav .fa{
	color: rgba(50,50,50,1);		
	transition: .5s;
}
nav.nav .fa:hover{
	color: rgba(50,50,50,0.8);		
	transition: .5s;
}
nav.nav .sep{
	display: inline;
	height: 100%;
	border-left: 1px solid black;
	margin: 0 15px;
}

.link-container .nav-menu{
	position: absolute;
	top: 28px;
    left: 0;
    
    z-index: 1;
    font-size: 14pt;
    font-weight: 500;
	//transform: translateX(100%);
	
	border: 1px solid white;
	width: 140px;
	text-align: center; 

	
	display: none;

}
.link-container{
	display: inline-block;
	position: relative;
}
.nav .nav-menu a{
	display: block;
	text-decoration: none !important;
	color:white;
	padding: 0 15pt;
	background-color: rgba(0,0,0,0.7);

	transition: 1s: 
}
.nav .nav-menu a:hover{
	background-color: rgba(128,128,128,0.7);	 
	transition: 1s: 
}

.link-container:hover .nav-menu{
	display: block !important;

}
.link{
	display: inline;
	color:black;
	text-decoration: none;
}
nav .link , .link:hover{
	position: relative;
	text-decoration: none !important;
}
nav .link sub{
	display: inline;
	position: relative;
	left: -8px;
	font-weight: 000;
	color:white;
	background-color: gray;
	padding: 5px;
	border-radius: 15px;
}

.link-main{

}


.main-photo img{
	width:  100%;
	float:right;
}

/*//////////////////////////////////////////*/
.login{
	width: 300px;
	position: absolute;		
	left: 50%;
	top:50%;

	transform: translate(-50%,-100%);
}
.login input{
	width: 100%;
}
/*//////////////////////////////////////////*/

.m0{
	margin:0;
}
.p0{
	padding: 0 !important;
}


.bg_red,.bg{
	background-color: red;
}
.bg_white{
	background-color: white;
}
.bg_black{
	background-color: black;
}

.m_bottom{
	margin-bottom: 10px;
}
.m_bottom25{
	margin-bottom: 25px;
}
.m_bottom50{
	margin-bottom: 50px;
}
.m_bottom100{
	margin-bottom: 100px;
}

.t_color{
	color:darkgray;
}
.t_black{
	color:black;
}
.bold{
	font-weight: 900;
}

.hcenter{
	text-align: center;
}

